@import "../../index.scss";

.countdown-bar, .countdown-bar.default {
    border: 2px solid #808080;
    background-color: #808080;
    height: 28px;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 22px;

    .countdown-bar-inner {
        background-color: #343c3d;
        height: 28px;
        overflow: visible;
        white-space: nowrap;
        box-sizing: border-box;
        animation: none;
        transition-property: 'width';
        transition-duration: 0.3s;
    }
    
}


.countdown-bar.highlight {
   
    .countdown-bar-text {
        // animation: blinker 1s step-start infinite;
    }
}

.countdown-bar-text {
    padding-left: 5px;
}

  
@keyframes blinker {
    50% {
        opacity: 0;
    }
}