@import '../../index.scss';

.option {
    border-radius: 0.4em;
    border: 2px solid $link;
    text-align: center;
    width: 400px;
    max-width: 100%;
    margin-bottom: 15px;
    padding: 0.75em;
}

.option.selected {
    background-color: $link;
}

.option:hover {
    background-color: $link;
}

.option.disabled {
    border-color: #808080;
    cursor: not-allowed;
}

.option.selected.disabled {
    background-color: #808080;
}

.option.option.disabled:hover {
    background-color: #808080;
}
