
.level.App-header {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 60px;
    width: 100%;
    padding: 10px;
    margin-bottom: 0px;
  }
  
  .App-header .App-logo {
    width: 50px;
  }