@charset "utf-8";

$footer-padding: 1rem 1.5rem 1rem;

@import "../node_modules/bulmaswatch/darkly/variables";
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulmaswatch/darkly/overrides";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
