
.App-header {
    font-size: 20px;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 60px;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .App-header .App-logo {
    width: 50px;
  }