.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.App-content {
  width: 100%;
  padding: 20px;
  flex-direction: column;
  display: flex;
}

.Login-page {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.title {
  color: white;
}

.box h1, .box h2, .box h3, .box h4, .box h5, .box h6 {
  color: #363636;
}

.Quiz-dashboard {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  color: #61dafb;
  width: 100%;
}

.Quiz-dashboard .Dashboard-content {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .Quiz-dashboard .Dashboard-content {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      max-width: 1000px;
  }

  .Quiz-dashboard .question, .Quiz-dashboard .participants {
      width: 50%;
  }
}

.Quiz-dashboard .question, .Quiz-dashboard .participants {
  color: white;
  background: rgba(255,255,255,0.05);
  padding: 10px;
  margin: 10px;
}
