.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.App-content {
  width: 100%;
  padding: 20px;
  flex-direction: column;
  display: flex;
}

.Login-page {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.title {
  color: white;
}

.box h1, .box h2, .box h3, .box h4, .box h5, .box h6 {
  color: #363636;
}

.Quiz-dashboard {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  color: #61dafb;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .App {
    height: 100vh;
    overflow: hidden;
  }

  .App-content, .Quiz-dashboard, .columns {
    flex: 1;
    overflow:hidden;
  }

  .Quiz-dashboard .question, .Quiz-dashboard .participants {
      max-height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      scrollbar-color: #7f7f7f white; /* thumb and track color */
      scrollbar-width: thin;
  }
}

.Quiz-dashboard .question, .Quiz-dashboard .participants {
  color: white;
  background: rgba(255,255,255,0.05);
  padding: 10px;
  margin: 10px;
}

::-webkit-scrollbar{width:10px}::-webkit-scrollbar-track{background:rgba(255, 255, 255, 0.1);border-radius:0px}::-webkit-scrollbar-thumb{background:rgba(255, 255, 255, 0.3);border-radius:0px}