@import "../index.scss";

.questions-column {
    overflow: auto;
    flex: 1;
}

.block-list.is-question-list li.no-padding {
    padding: 0px;
    background-color: $box-background-color;
    overflow: hidden;

}

.block-list.is-question-list li {
    background-color: transparent;
}

.title.no-margin
{
    margin-bottom: 0px !important;
}

.modal-card-body {
    height: 80%;
    overflow: auto;
}

.modal-card.fixed-height {
   height: calc(100vh - 40px);
}

.level.not-responsive {
    display: flex;

    .level-left + .level-right {
        margin-top: 0px;
    }
}