@import "../index.scss";

.questions-column {
    overflow: auto;
    flex: 1;
}

.block-list li.no-padding {
    padding: 0px;
    background-color: $box-background-color;
    overflow: hidden;
}

.title.no-margin
{
    margin-bottom: 0px;
}

.modal-card-body {
    height: 80%;
    overflow: auto;
}

.modal-card.fixed-height {
   height: calc(100vh - 40px);
}