.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  font-size: 20px;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  height: 60px;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

.App-header .App-logo {
  width: 50px;
}

.App-content {
  padding: 20px;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

