@import "./index.scss";

.App {
  min-height: calc(100vh - $navbar-height);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.App-content {
  width: 100%;
  padding: 20px;
  flex-direction: column;
  display: flex;
}

.Login-page {
  flex-direction: column;
  display: flex;
  justify-content: center;
}


.Quiz-dashboard {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  width: 100%;
}

@media screen and (min-width: 768px) {

  .App-content, .Quiz-dashboard, .columns {
    flex: 1;
  }
}

.Quiz-dashboard .question { 
  padding: 15px;
  padding-top: 9px;
  margin: 10px;
}

.Quiz-dashboard .participants {
  padding: 15px;
  margin: 10px;
}
